.post-nav {
    display: flex;
    justify-content: space-between;
}

.post-nav h2 a {
    color: #caad00;
}

.pinned {
    background-color:#ffffffe6;
    color: #333;
    border-radius: 3px;
    padding: 10px;
    font-size: 30px;
    /* text-align: center; */
    line-height: 3;
    padding-bottom: 17px;
}

.pinned a {
    color: #3e93cf;
    font-weight: 600;
}

.pinned-text {
    color: #222;
    margin: 0 1rem;
    font-weight: 600;
}

.bold {
    font-weight: bold;
}

.compilations a {
    color: #268bd2;
}