.post-nav {
  display: flex;
  justify-content: space-between;
}

.post-nav h2 a {
  color: #caad00;
}

.pinned {
  background-color: #ffffffe6;
  color: #333;
  border-radius: 3px;
  padding: 10px;
  font-size: 30px;
  /* text-align: center; */
  line-height: 3;
  padding-bottom: 17px;
  margin-bottom: 2rem;
}

.pinned a {
  color: #3e93cf;
  font-weight: 600;
}

.pinned-text {
  color: #222;
  margin: 0 1rem;
  font-weight: 600;
}

.pinned-header {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.compilations a {
  color: #268bd2;
}

.signup-form {
  margin-top: 1rem;
}

.signup-form form {
  margin: 5px;
}

.signup-form input {
  height: 2rem;
  border: 0px solid;
  border-bottom: 1px solid #268bd2;
  color: #268bd2;
  background-color: #222;
  padding: 5px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px inset #222; /* https://stackoverflow.com/questions/2338102/override-browser-form-filling-and-input-highlighting-with-html-css */
  -webkit-text-fill-color: #268bd2;
}

/* https://zellwk.com/blog/check-empty-input-css/ */
/* Show red borders when filled, but invalid */
input:not(:placeholder-shown) {
  border-color: hsl(0, 76%, 50%);
}

/* Show green borders when valid */
input:valid {
  border-color: hsl(120, 76%, 50%);
}

.signup-form label {
}

.signup-form button {
  line-height: 1.75;
  background-color: #303030;
  border: 1px;
  border-radius: 2px;
  color: #268bd2;
  cursor: pointer;
  height: 2rem;
  padding: 0 10px;
  font-size: 16px;
  margin-top: 1rem;
}

.signup-form__field {
  display: flex;
  flex-direction: column;
}
